"Runtime {\n    tick: 0,\n    implements: [],\n    beads: {\n        4948f8bf-718d-5919-b086-6429c9055e80: Bead {\n            title: \"Printer\",\n            description: \"prints value to stdout\",\n            archetype: Effect,\n            inputs: {\n                \"input\": Slot {\n                    title: \"\",\n                    description: \"\",\n                    status: Write,\n                    expected_type: String,\n                },\n            },\n            outputs: {},\n            implement: Std {\n                src: \"stdlib/utils/stdout\",\n            },\n        },\n    },\n}"